/*
    Esta parte es del formulario
*/

body {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(140deg, #c65050, #bca231);
    height: 100vh;
}

input[type="text"], input[type="number"], input[type="email"]{
    height: 15px;
}

/*
    Esta parte son los estilos de todo tipo de texto
*/
h1{
    font-size: 3rem;
    background: linear-gradient(-45deg, #470000, #c70d0d);
    background-size: 200%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

p{
    font-size: 20px;
}
